/* Globales */
:root {
    --colorPrimario: rgb(252, 202, 047);
    --colorOscuro: rgb(040, 033, 035);
    --colorClaro: rgb(255, 255, 255);
    --font-sans: 'Rubik', sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: var(--font-roboto);
}

h1,
h2 {
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2.5rem;
}

p {
    text-align: justify;
    padding: 10px;
    font-weight: 300;
    font-size: 1.5rem;
}

i {
    padding: 10px;
    color: var(--colorOscuro);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.parrafo {
    display: flex;
    justify-content: center;
}

/* Logo flotante */
.flotante {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    z-index: 100;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--colorOscuro);
    position: fixed;
}

.logo:hover {
    filter: brightness(0.5);
    transform: rotate(10deg) scale(1.3);
    transition: transform 0.5s;
}

/* Hero */
.hero {
    display: flex;
    width: 100vw;
    height: 300px;
    background-image: url(../img/hero01-min.webp);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.8);

}

@media (min-width: 1280) {
    .hero {
        width: 100vw;
        height: 50px;
    }
}

/* Barra de navegación */
.nav-bg {
    height: auto;
    border-radius: 10px;
    background-color: var(--colorOscuro);

}

.navegacion-principal {
    margin: auto;
    width: auto;
    background-color: var(--colorOscuro);
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a {
    text-decoration: none;
    font-weight: 700;
    color: var(--colorPrimario);
    padding: 1.2rem;
}

.navegacion-principal a:hover {
    color: var(--colorOscuro);
    background-color: var(--colorPrimario);
    background-size: cover;
    transition: 0.3s;
}

/* Contenido principal.*/
.article {
    height: 100%;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    background-color: var(--colorPrimario);
    border-radius: 10px;
    box-shadow: 2px 2px 2px;

}

@media (min-width: 768px) {
    .contenedor-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .article {
        width: 65vw;
    }
}

/* Formulario de Contacto */
.form {
    width: 65vw;
    height: 100%;
    margin: 0.5rem 0.5rem;
    padding: 1rem 1rem;
    background-color: var(--colorPrimario);
    border-radius: 10px;
    box-shadow: 2px 2px 2px;

}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    background: var(--colorClaro);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 4rem 0 1rem;
    transition: .3s ease all;
}

.formulario__input:focus{
    border: 3px solid var(--colorOscuro);
    outline: none;
    box-shadow: 3px 3px 3px rgb(040, 033, 035, 0.4);
}

.comentario{
    background: var(--colorClaro);
    border: 3px solid transparent;
    border-radius: 3px;
    line-height: 45px;
    padding: 0 10px 0 10px;
    transition: .3s ease all;
    resize: none;
}

.comentario:focus{
    border: 3px solid var(--colorOscuro);
    outline: none;
    box-shadow: 3px 0px 30px rgb(040, 033, 035, 0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.comentario,
.formulario__mensaje,
.formulario__btn-borrar,
.formulario__btn-enviar {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background-color: rgb(224, 79, 79);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: var(--colorOscuro);
    color: var(--colorPrimario);
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid var(--colorOscuro);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.formulario__btn:hover{
    cursor: pointer;
    color: var(--colorOscuro);
    background-color: var(--colorPrimario);
    font-weight: 700;
    transition: 0.3s;
}

.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    font-weight: 700;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}

@media (max-width: 900px) {
    .comentario,
    .formulario__mensaje,
    .formulario__btn-borrar,
    .formulario__btn-enviar {
        grid-column: 1;
    }
    .formulario{
        display: grid;
        grid-template-columns: 1fr;
    }
    .formulario__btn{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .form{
        min-width: 95vw;
        margin: 0.5rem 0.5rem;
    }
    
}

/* Etilos para Validación */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #119200;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* Footer */
.redes{
    padding: 10px;
    color: var(--colorPrimario);
}
footer {
    width: 100vw;
    height: 100px;
    margin-top: 0.5rem;
    float: left;
    text-align: center;
    display: block;
    color: var(--colorPrimario);
    background-color: var(--colorOscuro);
}

footer p {
    text-align: center;
    font-size: small;

}