/* Globales */
:root {
    --colorPrimario: rgb(252, 202, 047);
    --colorOscuro: rgb(040, 033, 035);
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    text-align: justify;
    padding: 10px;
    font-weight: 300;
}

header {
    margin: 0%;
    padding: 0%;
    border-radius: 10px;
}

header img {
    width: 100vw;
    max-height: 40vw;
}

nav {
    width: 100vw;
    height: 40px;
    border-radius: 10px;
    background-color: var(--colorOscuro);
}

nav a {
    padding: 60px;
    text-decoration: none;
    font-weight: 700;
    color: var(--colorPrimario);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

article {
    width: 65%;
    height: 100%;
    float: left;
    display: block;
    padding-bottom: 100%;
    margin-bottom: -100%;
    background-color: var(--colorPrimario);
    border-radius: 10px;
}

aside {
    width: 35%;
    height: 100%;
    float: right;
    display: block;
    padding-bottom: 100%;
    margin-bottom: -100%;
    background-color: var(--colorPrimario);
    border-radius: 10px;
}

section {
    padding-right: 10px;
}

.formulario {
    margin: 20px;
}

form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: var(--colorPrimario);
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid --colorOscuro;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"],
form input[type="reset"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid --colorOscuro;
    border-radius: 5px;
    display: block;
    color: var(--colorPrimario);
    background-color: var(--colorOscuro);
}

form input[type="submit"],
form input[type="reset"]:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid --colorOscuro;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: vertical;
    display: block;
}

footer {
    width: 100vw;
    height: 100px;
    float: left;
    text-align: center;
    display: block;
    color: var(--colorPrimario);
    background-color: var(--colorOscuro);
}

footer p {
    text-align: center;
    font-size: small;

}

i {
    padding: 10px;
    color: var(--colorPrimario);
}

.menu_item {
    float: left;
    padding: 5px;
    list-style: none;
}

.container {
    margin: 5px;
    width: 100%;
    overflow: hidden;
}